<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <!-- NEW COURSE -->
            <div class="create board">
                <div class="caption">
                    <form
                        name="vm.createForm"
                        class="create-form"
                        role="form"
                        ng-submit="vm.createCourse(vm.newCourse, vm.createForm.$valid)"
                        novalidate>
                        <fieldset>
                            <div>
                                <input
                                    type="text"
                                    class="medium"
                                    ng-model="vm.newCourse.name"
                                    placeholder="Course Name"
                                    required>
                            </div>
                            <div>
                                <input
                                    type="text"
                                    ng-model="vm.newCourse.description"
                                    placeholder="what's it about?"
                                    required>
                            </div>
                        </fieldset>
                        <button
                                type="submit"
                                class="btn btn-default btn-board">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-4" ng-repeat="course in vm.courses">
            <div class="edit board">
                <div class="pull-right">
                    <a href="" ng-click="vm.deleteCourse(course.id)">Delete</a>
                </div>
                <div>
                    <input
                        type="text"
                        class="medium"
                        ng-model="course.name"
                        ng-blur="vm.updateCourse(course)"
                        placeholder="Course Name">
                </div>

                <div>
                    <input type="text"
                       ng-model="course.description"
                       ng-blur="vm.updateCourse(course)"
                       placeholder="Course description.">
                </div>
                <!--<a href ui-sref="root.coures.root.tasks({courseId: course.id})">Tasks</a>-->
                <a ui-sref="root.tasks({courseId: course.id})">Tasks</a>
                <!--<div>Tasks:</div>-->
                <!--<div>{{course.task1}}</div>-->
                <!--<div>{{course.task2}}</div>-->
                <span ng-show="vm.loading" class="glyphicon glyphicon-refresh"></span>
            </div>
        </div>
    </div>
</div>
