<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <!-- NEW COURSE -->
            <div class="create course">
                <div class="caption">
                    <form
                        name="vm.createForm"
                        class="create-form"
                        role="form"
                        ng-submit="vm.createCourse(vm.newCourse, vm.createForm.$valid)"
                        novalidate>
                        <fieldset>
                            <div>
                                <input
                                    type="text"
                                    class="medium"
                                    ng-model="vm.newCourse.name"
                                    placeholder="Course Name"
                                    required>
                            </div>
                            <div>
                                <input
                                    type="text"
                                    ng-model="vm.newCourse.description"
                                    placeholder="what's it about?"
                                    required>
                            </div>
                        </fieldset>
                        <button
                                type="submit"
                                class="btn btn-default btn-board">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div ng-repeat="course in vm.courses">
                <div>
                    Name: <input
                            type="text"
                            class="medium"
                            ng-model="course.name"
                            ng-blur="vm.updateCourse(course)"
                            placeholder="Course Name">
                    <a href="" ng-click="vm.deleteCourse(course.id)">X</a>
                </div>

                <div>
                    Description: <input type="text"
                           ng-model="course.description"
                           ng-blur="vm.updateCourse(course)"
                           placeholder="Course description.">
                </div>
                <div>Tasks:</div>
                <div>{{course.task1}}</div>
                <div>{{course.task2}}</div>
            </div>
        </div>
    </div>
</div>